/* stylesheet for Mark's The Odin Project Google page project */

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
  width: 100%;
}

li {
  display: inline;
}


#app-buttons {  
  display: inline-block;
  position: relative;
  vertical-align: middle;
  /*width: 25%;
  height: 25%; */
}

.left {
 
}

.right {
  justify-self: end;
}

#center {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
}



#button-container {
  text-align: center;
}


#country {
  position: fixed;
  bottom: 38px;
  left: 0;
  background-color:  rgb(236, 236, 236); 
  border: 1px solid rgb(226, 226, 226);
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.3em;
  overflow: hidden; 
  display: inline-block;
  vertical-align: middle;
  font: 15px;
}

.bottom-navigation {
    position: absolute;   
    bottom: 0;
    background-color:  rgb(236, 236, 236); 
    width: 98%;
    overflow: hidden;  
    padding-top: 20px;
    margin-left: 0;
    border: 1px solid rgb(226, 226, 226);
    padding-right: 1.75em; 
}

#sign-in {
height: 40px; 
width: 69px;
color: white;
font-weight: 800;
font-size: 12px;
background-color: blue; 
padding: 10px 0;
margin-left: 5px;
margin-top: 5px;
border: none;
display: inline;
vertical-align: middle;
}

#center-conatiner {
  position: relative;
}

#search-box {
  width: 100%;
  align-items: center;
}


#search {
  display: block;
  width: 100%;
  border-radius: 40px;
  border-color: rgb (226, 226, 226);
}


#g-search {
  width: 116px;
  height: 30px;
  margin-bottom: 10px;
}

#lucky {
   width: 123px;
  height: 30px;
  margin-bottom: 10px;
}

#language {
font: 8px;
width: 162px;
height: 28px;
margin-top: 15px;
margin-left: 170px;
}

#french {
color: blue;
font: inherit;
}


#bottom-background {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: rgb(145, 141, 141);
  height: 15px;
  width: auto;
}


#logo-container {
  margin-left: 126px;
  margin-right: 126px;
 } 