/* stylesheet for Mark's The Odin Project Google page project */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  /*min-width: 1058px; /* min-width of 0 on body and main container allows whitespace in top and 
  bottom divs to shrink, then buttons go onto 2 lines and 2nd button overtop of "Also available in"*/
  /* ok to 677px;*/
}

#main-container {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  /*min-width: 1058px; /*window can shrink to 435 with scroll bars */
  /* seems to be limited by lower L ul? */
  /*scroll bars appear below minimum width;*/
  box-sizing: border-box;
  /*min-width only for main axis? source: 
  https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  */
}

li {
  margin-left: .75rem;  
}

.top{
  display: flex;
  justify-content: space-between; /* whitespace seems to stay constant size when window reduced on x-axis*/
  overflow: hidden; /* to try to remove scrollbars*/
}

.top .left {
  margin-top: 1.3rem;
}

ul {
  list-style: none;
  /*width: 100%;*/
}

li {
  display: inline;
}


#app-buttons {  
  display: inline-block;
  position: relative;
  vertical-align: middle;
  /*width: 25%;
  height: 25%; */
}

/* .left and .right not applied to .lower, so give .top-left values to .left only */
.left {
 margin-left: 2rem;
}


.right {
  margin-right: 2rem;
} 

.top .left {
  margin-top: 1.3rem;
}

#center {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
}



#button-container {
  text-align: center;
  /*margin-bottom: 1rem;*/
  margin-top: 1rem;
  
}

.submit{
  border-radius: .5em;
  border: none;
  padding-left: .75rem;
  padding-right: .75rem;
} 

.bottom {
  display: flex;
  flex-direction: row; 
  /* flex-flow: row wrap start of 2nd line is not-alligned with start of 1st*/
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid rgb(200, 200, 200);
  overflow: hidden;/* to try to remove scrollbars*/
  /*width < 608 li on both sides too close*/
}

@media screen and (max-width: 608px) {
   .bottom {
     flex-direction: column;
    /*align-content: center;*/
   }

  .bottom .left{
    /*justify-content: center;*/
   /* margin-left: 7rem;
    width: 80%;*/
    margin: auto;
  }

  .bottom .right {
    /*justify-content: center;*/
    /*margin-top: 2rem;*/
    /*margin-left: -10rem;
    margin-right: 6rem;
    width: 80%;*/
    
    margin-right: 0;
    margin: auto;
    margin-top: 1rem;
  }
}


#country {
  padding-left: .9rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
/*
#country {
  position: fixed;
  bottom: 1rem;
  padding-left: .75rem;
  background-color:  inherit;
 /* border: 1px solid rgb(226, 226, 226);*/
  /*width: inherit;
  padding-top: .5rem;
  padding-bottom: .5rem;
  /*padding-left: 2.3em;*/
 /* overflow: hidden; 
  display: inline-block;
  /*! vertical-align: middle; */
  /*font: 15px;*/
/*}*/

.lower {
  background-color:  rgb(236, 236, 236); 
  border: 1px solid rgb(226, 226, 226);
  /*width: 100%;*/
  padding-bottom: 1rem;
  color: rgb(120, 120, 120);
}

/*
.bottom-navigation {
    position: absolute;   
    bottom: 0;
    background-color:  rgb(236, 236, 236); 
    width: 98%;
    overflow: hidden;  
    padding-top: 20px;
    margin-left: 0;
    border: 1px solid rgb(226, 226, 226);
    padding-right: 1.75em; 
}
*/

#sign-in {
height: /*40px*/2.5rem; 
width: 5rem;
color: white;
font-weight: 600;
font-size: .8rem;
background-color: #4285F4; 
border-radius: .3rem;
/*padding: 10px 0;*/
/*margin-left: 5px;*/
margin-top: 1rem;/*5px;*/
border: none;
display: inline;
vertical-align: middle;
}

#center { 
  position: relative; /* because #input-container's position is relative ???*/
}

#search-box {
  width: 25rem;/*80%;*/
  height: 3rem;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#input-container {
  position: relative;
}

.material-icons {
  position: absolute;
  padding-top: .7rem;
  padding-left: .5rem;
  color: gray;
}

#search {
  display: block;
  height: 3rem;
  width: 100%; /*min-width breaks horizontal centering */
  border-radius: 40px;
  border-color: rgb (226, 226, 226);
  outline: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #3b3a39;
}


#g-search {
 /* width: 116px;*/
  height: 1.75rem;/*30px*/
  margin-top: 1rem;
  margin-right: 1rem;
}

#lucky {
   /*width: 123px;*/
  height: 1.75rem/*30px*/;
  margin-top: 1rem;
}

#language {
/*font: 8px;*/
/*width: 162px;
height: 28px;*/
margin-top: 2rem;
font-size: 0.9rem;
/*margin-left: 170px;*/
/*overlaps search buttons width of window < 669px*/
}

#french {
color: blue;
/*font: inherit;*/
}

/*not used
#bottom-background {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: rgb(145, 141, 141);
  height: 15px;
  width: auto;
}*/

/*not used
#logo-container {
  margin-left: 126px;
  margin-right: 126px;
 } */