/* stylesheet for Mark's The Odin Project Google page project */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#main-container {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

li {
  margin-left: .75rem;  
}

.top{
  display: flex;
  justify-content: space-between;
}

.top .left {
  margin-top: 1.3rem;
}

ul {
  list-style: none;
  width: 100%;
}

li {
  display: inline;
}


#app-buttons {  
  display: inline-block;
  position: relative;
  vertical-align: middle;
  /*width: 25%;
  height: 25%; */
}

.left {
 margin-left: 2rem;
}


.right {
  margin-right: 2rem;
} 

.top .left {
  margin-top: 1.3rem;
}

#center {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
}



#button-container {
  text-align: center;
  /*margin-bottom: 1rem;*/
  margin-top: 1rem;
  
}

.submit{
  border-radius: .5em;
  border: none;
  padding-left: .75rem;
  padding-right: .75rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid rgb(200, 200, 200);
}

#country {
  padding-left: .9rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
/*
#country {
  position: fixed;
  bottom: 1rem;
  padding-left: .75rem;
  background-color:  inherit;
 /* border: 1px solid rgb(226, 226, 226);*/
  /*width: inherit;
  padding-top: .5rem;
  padding-bottom: .5rem;
  /*padding-left: 2.3em;*/
 /* overflow: hidden; 
  display: inline-block;
  /*! vertical-align: middle; */
  /*font: 15px;*/
/*}*/

.lower {
  background-color:  rgb(236, 236, 236); 
  border: 1px solid rgb(226, 226, 226);
  width: 100%;
  padding-bottom: 1rem;
  color: rgb(120, 120, 120);
}

/*
.bottom-navigation {
    position: absolute;   
    bottom: 0;
    background-color:  rgb(236, 236, 236); 
    width: 98%;
    overflow: hidden;  
    padding-top: 20px;
    margin-left: 0;
    border: 1px solid rgb(226, 226, 226);
    padding-right: 1.75em; 
}
*/

#sign-in {
height: /*40px*/2.5rem; 
width: 5rem;
color: white;
font-weight: 600;
font-size: .8rem;
background-color: #4285F4; 
border-radius: .3rem;
/*padding: 10px 0;*/
/*margin-left: 5px;*/
margin-top: 1rem;/*5px;*/
border: none;
display: inline;
vertical-align: middle;
}

#center-conatiner {
  position: relative;
}

#search-box {
  width: 80%;
  height: 3rem;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#input-container {
  position: relative;
}

.material-icons {
  position: absolute;
  padding-top: .7rem;
  padding-left: .5rem;
  color: gray;
}

#search {
  display: block;
  height: 3rem;
  width: 100%;
  border-radius: 40px;
  border-color: rgb (226, 226, 226);
  outline: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #3b3a39;
}


#g-search {
 /* width: 116px;*/
  height: 1.75rem;/*30px*/
  margin-top: 1rem;
  margin-right: 1rem;
}

#lucky {
   /*width: 123px;*/
  height: 1.75rem/*30px*/;
  margin-top: 1rem;
}

#language {
/*font: 8px;*/
/*width: 162px;
height: 28px;*/
margin-top: 2rem;
/*margin-left: 170px;*/
}

#french {
color: blue;
/*font: inherit;*/
}

/*not used
#bottom-background {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: rgb(145, 141, 141);
  height: 15px;
  width: auto;
}*/

/*not used
#logo-container {
  margin-left: 126px;
  margin-right: 126px;
 } */