/* stylesheet for Mark's The Odin Project Google page project */

/*
body{
  margin-left: 20px;  
}
*/

li {
    list-style-type: none;
    font: 13px Arial;
    display: inline;
    margin-right: 7px;
}


#app-buttons {  
  display: inline-block;
  position: relative;
  vertical-align: middle;
  /*width: 25%;
  height: 25%; */
}

.left {
  float: left; 
  padding-left: 2.3em;
  /*margin-right: 1em;*/
}

.right {
  float: right; 

  /*margin-left: 1em;*/
}

   
 .top-navigation { 
   position: relative;
   display: inline;
   top: 20px;
 }

.top-navigation .left ul {
  margin-top: 10px;
}

#country {
  position: fixed;
  bottom: 38px;
  left: 0;
  background-color:  rgb(236, 236, 236); 
  border: 1px solid rgb(226, 226, 226);
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.3em;
  overflow: hidden; 
  display: inline-block;
  vertical-align: middle;
  font: 15px;
}

.bottom-navigation {
    position: absolute;  /* position: relative bring bottom elements to top of screen,
                            position: absolute brings them to the bottom of the screen */ 
    bottom: 0;
    background-color:  rgb(236, 236, 236); 
    /*background-color: rgb(145, 141, 141);*/
    width: 98%;
    overflow: hidden;  
    padding-top: 20px;
    margin-left: 0;
    border: 1px solid rgb(226, 226, 226);
    padding-right: 1.75em; /*27px;*/
}

#sign-in {
height: 40px; 
width: 69px;
color: white;
font-weight: 800;
font-size: 12px;
background-color: blue; 
padding: 10px 0;
margin-left: 5px;
margin-top: 5px;
border: none;
display: inline;
vertical-align: middle;
}

#center-conatiner {
  position: relative;
}

#center {
  width: 516px;
  height: 242px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin:  -136px 0 0 -300px; 
}

#logo-container {
 margin-left: 126px;
 margin-right: 126px;
}

#search {

  width: 516px;
  height: 36px;
  margin-bottom: 10px;
}

#search-buttons-container {
  display: inline;
  margin-left: 140.5px;
  margin-right: 140.5px;
  margin-bottom: 10px;
}

#g-search {
  width: 116px;
  height: 30px;
  margin-bottom: 10px;
}

#lucky {
   width: 123px;
  height: 30px;
  margin-bottom: 10px;
}

#language {
width: 162px;
height: 28px;
margin-left: 158px;
}

#french {
color: blue;
}


#bottom-background {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: rgb(145, 141, 141);
  height: 15px;
  width: auto;
}